.member__flip {
    position: relative;

    @include width-height(270px, 260px);

    transform-style: preserve-3d;
}

.member__image {
    position: absolute;
    transform: rotateY(0deg);

    .member__flip:hover & {
        transform: rotateY(180deg);
    }
}

.member__overlay {
    transform: rotateY(-180deg);

    @include square(100%);

    padding: 64px 24px;

    @include overlay;

    background-color: var(--acsent-color-transparent);

    .member__flip:hover & {
        transform: rotateY(0deg);
    }
}

.member__image,
.member__overlay {
    transition: transform var(--shift);
}

.member__content {
    padding-top: 30px;
    padding-bottom: 30px;

    text-align: center;
}

.member__title {
    margin-bottom: 10px;

    font-weight: 500;
    color: var(--tittle-text-color);
}

.member__title,
.member__position {
    @include f-size-height(16px, 1.19);
}

.member__social-links {
    margin-top: 16px;
}