.projects__container {
  margin-top: 34px;
}

.projects {
  @include flex-wrap;

  margin-top: -30px;
  margin-left: -30px;
}

.projects__item {
  flex-basis: calc(100% / 3 - 30px);

  margin-top: 30px;
  margin-left: 30px;

  background-color: var(--primary-bg-color);

  transition: box-shadow var(--shift);

  &:hover,
  &:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }
}
