.what-we-do {
  @include flex-wrap;
}

.what-we-do__item {
  position: relative;

  &:not(:first-child) {
    margin-left: 30px;
  }
}

.what-we-do__title {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;

  display: block;
  padding-top: 27px;
  padding-bottom: 27px;

  margin-top: 0;
  margin-bottom: 0;

  background: rgba(47, 48, 58, 0.8);

  @include text-title-second(700, 14px, 1.14, center);

  opacity: 1;
  transition: opacity var(--shift);

  &:hover {
    opacity: 0;
  }
}
